<h3>{{viewTitle}}</h3>

<form action="/menu" method="POST" autocomplete="off">
    <div class="form-group">
        <a class="btn btn-secondary" href="/customerPO/list"><i class="fa fa-list-alt"></i> Customer PO</a>
        <a class="btn btn-secondary" href="/deliverables/list"><i class="fa fa-list-alt"></i> Deliverables</a>
        <a class="btn btn-secondary" href="/site/list"><i class="fa fa-list-alt"></i> Site</a>
    </div>
</form>